@import 'partials/variables';

@import 'partials/common';

@import 'partials/utility';

/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&family=Roboto:wght@400;500&display=swap');


/* Header */
#site_header {

    .top_header {
        background-color: $brand_primary_color;
        color: #fff;
        font-family: 'Roboto',
            sans-serif;
        font-size: 0.7rem;
        font-weight: 500;
        text-transform: uppercase;
        padding: 0.35rem 0;

        .container {
            display: flex;
            justify-content: flex-end;
            align-items: center;

            p {
                margin-left: 7rem;
            }
        }
    }

    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem 0;


        img.logo {
            width: 80px;
            height: 80px;
        }

        ul {
            display: flex;
            list-style: none;

            a {
                color: $brand_text_grey;
                font-size: 0.95rem;
                font-weight: bold;
                text-decoration: none;
                text-transform: uppercase;
                margin: 0 1rem;
                padding: 2.65rem 0;

                &.active {
                    border-bottom: 4px solid $brand_primary_color;
                }

                &:hover {
                    color: $brand_primary_color;
                    border-bottom: 4px solid $brand_primary_color;
                    transition: 0.2s linear;
                }
            }
        }

        .search {
            display: flex;
            justify-content: end;
            align-items: center;
            font-weight: bold;
            border-bottom: 2px solid $brand_primary_color;

            p {
                padding-left: 4rem;
                padding-bottom: 0.5rem;
            }

            img {
                width: 17px;
                margin-left: 0.3rem;
            }

        }
    }
}


.jumbotron {
    width: 100%;
    height: 400px;
    object-fit: cover;
    object-position: top;
    margin: 0;
    padding: 0;
}


/* Main */
#site_main {
    .comics {
        background-color: $brand_dark_color;
        margin: -0.3rem;
        color: #fff;
        padding-bottom: 1.7rem;
    }

    .container {
        position: relative;

        h2 {
            display: inline-block;
            position: absolute;
            top: -1.7rem;
            left: -1rem;
            background-color: $brand_primary_color;
            color: #fff;
            font-size: 1.6rem;
            font-weight: bold;
            text-align: center;
            text-decoration: none;
            text-transform: uppercase;
            padding: 0.7rem 2rem;
        }

        .row {
            justify-content: center;
            gap: 1rem;
            padding-top: 3rem;

            a {
                color: white;
                text-decoration: none;
            }

            .comics_card {
                width: -webkit-fit-content;
                width: -moz-fit-content;
                width: fit-content;

                img {
                    width: 200px;
                    height: 200px;
                    object-fit: cover;
                    object-position: top;
                }

                p {
                    width: 200px;
                    font-size: 0.9rem;
                    text-transform: uppercase;
                    padding: 1rem 0 2rem 0;
                }
            }
        }
    }

    .load_more {
        width: 200px;
        margin: auto;
        background-color: $brand_primary_color;
        color: #fff;
        font-size: 0.85rem;
        font-weight: bold;
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;
        padding: 0.7rem 0;
        cursor: pointer;
    }

    .row_cards {
        width: 100%;
        background-color: $brand_primary_color;
        padding: 3rem 0;
        color: #fff;

        img {
            height: 50px;
        }

        li:last-child img {
            height: 40px;
        }

        ul {
            display: flex;
            justify-content: center;
            list-style: none;

            li {
                display: flex;
                align-items: center;
                padding: 0 2rem;

                p {
                    font-size: 0.9rem;
                    text-transform: uppercase;
                    padding-left: 1rem;
                }
            }
        }
    }

    .buy {
        background-color: $brand_light_grey;
        color: #999;
        font-size: 0.85rem;
        font-weight: bold;
        text-transform: uppercase;
        border-top: 1px solid #D8D8D8;

        .container {
            width: 69%;
            display: flex;
            justify-content: center;

            &>div {
                width: 20%;
                display: flex;
                justify-content: space-between;
                gap: 6rem;
                padding: 1rem;
                margin: 0;
                border-left: 1px solid #D8D8D8;

                &.subscriptions {
                    border-right: 1px solid #D8D8D8;
                }
            }
        }
    }
}


/* Footer */
#site_footer {
    font-family: 'Roboto',
        sans-serif;

    .footer_top {
        background-image: url(../img/footer-bg.jpg);

        .container {
            background-image: url(../img/dc-logo-bg.png);
            background-repeat: no-repeat;
            background-position-y: center;
            background-position-x: right;
            padding: 2rem 0 3rem 0;

            .row {
                &>div {
                    padding-right: 2rem;

                    h3 {
                        color: #fff;
                        font-size: 1.1rem;
                        text-transform: uppercase;
                        margin: 1rem 0;
                    }

                    ul {
                        list-style: none;

                        li a {
                            color: grey;
                            font-size: 0.8rem;
                            text-decoration: none;
                        }
                    }
                }
            }

            .credit {
                padding-top: 1rem;
                color: grey;
                font-size: 0.8rem;

                a {
                    color: $brand_primary_color;
                    text-decoration: none;
                }
            }
        }
    }

    .footer_bottom {
        background-color: $brand_grey_color;
        padding: 3rem 0;

        .container {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .sign_up {
                padding: 0.8rem 0;

                a {
                    color: #fff;
                    text-decoration: none;
                    text-transform: uppercase;
                    padding: 0.8rem;
                    border: 2px solid $brand_primary_color;
                }

                &:hover {
                    background-color: $brand_primary_color;
                    transition: 0.2s linear;
                }
            }

            .social {
                display: flex;
                align-items: center;

                h3 {
                    color: $brand_primary_color;
                    text-transform: uppercase;
                }

                img {
                    margin-left: 1rem;
                    cursor: pointer;

                    &:hover {
                        filter: opacity(0.8);
                        transition: 0.2s linear;
                    }
                }
            }
        }
    }
}


/* Single comic */
#site_main .comic_detail {
    background-color: #fff;

    .poster_wrapper {
        height: 4.875rem;
        background-color: $brand_primary_color;
        margin-top: -0.3rem;
        padding: 0;
        position: relative;

        .container {
            width: 55%;
            margin: auto;

            .poster_image {
                position: absolute;
                bottom: -3.5rem;
                border: 1px solid #fff;

                img {
                    position: relative;
                }
            }

            .poster_info {
                color: #fff;
                font-size: 0.75rem;
                text-align: center;
                text-transform: uppercase;


                &>p {
                    padding: 0.2rem 0.4rem;
                }

                .comic_type {
                    position: absolute;
                    top: 0;
                    background-color: $brand_light_blue;
                }

                .comic_view {
                    width: 100%;
                    position: absolute;
                    bottom: 0;
                    background-color: $brand_light_blue;
                }
            }
        }
    }

    .info {
        display: flex;
        color: #555;
        padding-bottom: 4rem;

        &.container {
            width: 55%;
            margin: 2rem auto;
        }

        .comic_info {
            font-family: 'Roboto', Arial, sans-serif;
            padding-right: 2.5rem;

            h1 {
                font-family: 'Roboto Condensed', Arial, sans-serif;
                color: $brand_blue;
                font-size: 1.9rem;
                font-weight: 600;
                text-transform: uppercase;
                margin-bottom: 1rem;
            }

            .table {
                display: flex;
                align-items: center;
                background-color: $brand_green;
                color: #fff;
                font-size: 0.95rem;
                font-weight: 500;
                border-bottom: 1px solid $brand_dark_green;
                margin-bottom: 1rem;

                .comic_price {
                    width: 80%;
                    display: flex;
                    justify-content: space-between;
                    padding: 0.7rem 1rem;
                    border-right: 1px solid $brand_dark_green;
                }

                .comic_availability {
                    width: 20%;
                    text-align: center;
                    padding: 0.7rem 1rem;
                }
            }

            p {
                font-size: 0.95rem;
                font-weight: 500;
                line-height: 1.5rem;
            }
        }

        .adv>p {
            font-weight: 600;
            text-align: right;
            text-transform: uppercase;
        }
    }

    .more_details {
        background-color: $brand_light_grey;
        padding-bottom: 5rem;
        border-top: 1px solid #D8D8D8;

        &>.container {
            display: flex;
            width: 55%;
            margin: auto;
            gap: 3rem;

            &>.col {
                width: 50%;

                h3 {
                    color: $brand_blue;
                    font-size: 1.3rem;
                    padding: 2rem 0;
                }

                &>div {
                    display: flex;
                    font-family: 'Roboto', Arial,
                        sans-serif;
                    font-size: 0.8rem;
                    padding: 0.5rem 0;

                    p {
                        width: 30%;
                        color: $brand_blue;
                        font-weight: 500;
                    }

                    span {
                        color: $brand_light_blue;
                    }

                    .artist,
                    .writer {
                        width: 70%;
                    }
                }

                .artists,
                .writers,
                .series,
                .us_price,
                .on_sale {
                    border-top: 1px solid #D8D8D8;
                }

                .writers,
                .on_sale {
                    border-bottom: 1px solid #D8D8D8;
                }
            }
        }
    }
}
