@import url(https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&family=Roboto:wght@400;500&display=swap);/* Variables */
.container {
  width: 70%;
  margin: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.light_green {
  color: #bafd9c;
}

/* Reset Rules */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  overflow-x: hidden;
  font-family: "Roboto Condensed", "Arial", sans-serif;
}

/* Fonts */
/* Header */
#site_header .top_header {
  background-color: #0282f9;
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 0.7rem;
  font-weight: 500;
  text-transform: uppercase;
  padding: 0.35rem 0;
}
#site_header .top_header .container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
#site_header .top_header .container p {
  margin-left: 7rem;
}
#site_header .navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
}
#site_header .navbar img.logo {
  width: 80px;
  height: 80px;
}
#site_header .navbar ul {
  display: flex;
  list-style: none;
}
#site_header .navbar ul a {
  color: #464646;
  font-size: 0.95rem;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  margin: 0 1rem;
  padding: 2.65rem 0;
}
#site_header .navbar ul a.active {
  border-bottom: 4px solid #0282f9;
}
#site_header .navbar ul a:hover {
  color: #0282f9;
  border-bottom: 4px solid #0282f9;
  transition: 0.2s linear;
}
#site_header .navbar .search {
  display: flex;
  justify-content: end;
  align-items: center;
  font-weight: bold;
  border-bottom: 2px solid #0282f9;
}
#site_header .navbar .search p {
  padding-left: 4rem;
  padding-bottom: 0.5rem;
}
#site_header .navbar .search img {
  width: 17px;
  margin-left: 0.3rem;
}

.jumbotron {
  width: 100%;
  height: 400px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
  margin: 0;
  padding: 0;
}

/* Main */
#site_main .comics {
  background-color: #1c1c1c;
  margin: -0.3rem;
  color: #fff;
  padding-bottom: 1.7rem;
}
#site_main .container {
  position: relative;
}
#site_main .container h2 {
  display: inline-block;
  position: absolute;
  top: -1.7rem;
  left: -1rem;
  background-color: #0282f9;
  color: #fff;
  font-size: 1.6rem;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  padding: 0.7rem 2rem;
}
#site_main .container .row {
  justify-content: center;
  gap: 1rem;
  padding-top: 3rem;
}
#site_main .container .row a {
  color: white;
  text-decoration: none;
}
#site_main .container .row .comics_card {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
#site_main .container .row .comics_card img {
  width: 200px;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
}
#site_main .container .row .comics_card p {
  width: 200px;
  font-size: 0.9rem;
  text-transform: uppercase;
  padding: 1rem 0 2rem 0;
}
#site_main .load_more {
  width: 200px;
  margin: auto;
  background-color: #0282f9;
  color: #fff;
  font-size: 0.85rem;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  padding: 0.7rem 0;
  cursor: pointer;
}
#site_main .row_cards {
  width: 100%;
  background-color: #0282f9;
  padding: 3rem 0;
  color: #fff;
}
#site_main .row_cards img {
  height: 50px;
}
#site_main .row_cards li:last-child img {
  height: 40px;
}
#site_main .row_cards ul {
  display: flex;
  justify-content: center;
  list-style: none;
}
#site_main .row_cards ul li {
  display: flex;
  align-items: center;
  padding: 0 2rem;
}
#site_main .row_cards ul li p {
  font-size: 0.9rem;
  text-transform: uppercase;
  padding-left: 1rem;
}
#site_main .buy {
  background-color: #f6f6f6;
  color: #999;
  font-size: 0.85rem;
  font-weight: bold;
  text-transform: uppercase;
  border-top: 1px solid #D8D8D8;
}
#site_main .buy .container {
  width: 69%;
  display: flex;
  justify-content: center;
}
#site_main .buy .container > div {
  width: 20%;
  display: flex;
  justify-content: space-between;
  gap: 6rem;
  padding: 1rem;
  margin: 0;
  border-left: 1px solid #D8D8D8;
}
#site_main .buy .container > div.subscriptions {
  border-right: 1px solid #D8D8D8;
}

/* Footer */
#site_footer {
  font-family: "Roboto", sans-serif;
}
#site_footer .footer_top {
  background-image: url(../img/footer-bg.jpg);
}
#site_footer .footer_top .container {
  background-image: url(../img/dc-logo-bg.png);
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: right;
  padding: 2rem 0 3rem 0;
}
#site_footer .footer_top .container .row > div {
  padding-right: 2rem;
}
#site_footer .footer_top .container .row > div h3 {
  color: #fff;
  font-size: 1.1rem;
  text-transform: uppercase;
  margin: 1rem 0;
}
#site_footer .footer_top .container .row > div ul {
  list-style: none;
}
#site_footer .footer_top .container .row > div ul li a {
  color: grey;
  font-size: 0.8rem;
  text-decoration: none;
}
#site_footer .footer_top .container .credit {
  padding-top: 1rem;
  color: grey;
  font-size: 0.8rem;
}
#site_footer .footer_top .container .credit a {
  color: #0282f9;
  text-decoration: none;
}
#site_footer .footer_bottom {
  background-color: #303030;
  padding: 3rem 0;
}
#site_footer .footer_bottom .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#site_footer .footer_bottom .container .sign_up {
  padding: 0.8rem 0;
}
#site_footer .footer_bottom .container .sign_up a {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  padding: 0.8rem;
  border: 2px solid #0282f9;
}
#site_footer .footer_bottom .container .sign_up:hover {
  background-color: #0282f9;
  transition: 0.2s linear;
}
#site_footer .footer_bottom .container .social {
  display: flex;
  align-items: center;
}
#site_footer .footer_bottom .container .social h3 {
  color: #0282f9;
  text-transform: uppercase;
}
#site_footer .footer_bottom .container .social img {
  margin-left: 1rem;
  cursor: pointer;
}
#site_footer .footer_bottom .container .social img:hover {
  filter: opacity(0.8);
  transition: 0.2s linear;
}

/* Single comic */
#site_main .comic_detail {
  background-color: #fff;
}
#site_main .comic_detail .poster_wrapper {
  height: 4.875rem;
  background-color: #0282f9;
  margin-top: -0.3rem;
  padding: 0;
  position: relative;
}
#site_main .comic_detail .poster_wrapper .container {
  width: 55%;
  margin: auto;
}
#site_main .comic_detail .poster_wrapper .container .poster_image {
  position: absolute;
  bottom: -3.5rem;
  border: 1px solid #fff;
}
#site_main .comic_detail .poster_wrapper .container .poster_image img {
  position: relative;
}
#site_main .comic_detail .poster_wrapper .container .poster_info {
  color: #fff;
  font-size: 0.75rem;
  text-align: center;
  text-transform: uppercase;
}
#site_main .comic_detail .poster_wrapper .container .poster_info > p {
  padding: 0.2rem 0.4rem;
}
#site_main .comic_detail .poster_wrapper .container .poster_info .comic_type {
  position: absolute;
  top: 0;
  background-color: #00a9d9;
}
#site_main .comic_detail .poster_wrapper .container .poster_info .comic_view {
  width: 100%;
  position: absolute;
  bottom: 0;
  background-color: #00a9d9;
}
#site_main .comic_detail .info {
  display: flex;
  color: #555;
  padding-bottom: 4rem;
}
#site_main .comic_detail .info.container {
  width: 55%;
  margin: 2rem auto;
}
#site_main .comic_detail .info .comic_info {
  font-family: "Roboto", Arial, sans-serif;
  padding-right: 2.5rem;
}
#site_main .comic_detail .info .comic_info h1 {
  font-family: "Roboto Condensed", Arial, sans-serif;
  color: #003F5E;
  font-size: 1.9rem;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 1rem;
}
#site_main .comic_detail .info .comic_info .table {
  display: flex;
  align-items: center;
  background-color: #55ba59;
  color: #fff;
  font-size: 0.95rem;
  font-weight: 500;
  border-bottom: 1px solid #357739;
  margin-bottom: 1rem;
}
#site_main .comic_detail .info .comic_info .table .comic_price {
  width: 80%;
  display: flex;
  justify-content: space-between;
  padding: 0.7rem 1rem;
  border-right: 1px solid #357739;
}
#site_main .comic_detail .info .comic_info .table .comic_availability {
  width: 20%;
  text-align: center;
  padding: 0.7rem 1rem;
}
#site_main .comic_detail .info .comic_info p {
  font-size: 0.95rem;
  font-weight: 500;
  line-height: 1.5rem;
}
#site_main .comic_detail .info .adv > p {
  font-weight: 600;
  text-align: right;
  text-transform: uppercase;
}
#site_main .comic_detail .more_details {
  background-color: #f6f6f6;
  padding-bottom: 5rem;
  border-top: 1px solid #D8D8D8;
}
#site_main .comic_detail .more_details > .container {
  display: flex;
  width: 55%;
  margin: auto;
  gap: 3rem;
}
#site_main .comic_detail .more_details > .container > .col {
  width: 50%;
}
#site_main .comic_detail .more_details > .container > .col h3 {
  color: #003F5E;
  font-size: 1.3rem;
  padding: 2rem 0;
}
#site_main .comic_detail .more_details > .container > .col > div {
  display: flex;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 0.8rem;
  padding: 0.5rem 0;
}
#site_main .comic_detail .more_details > .container > .col > div p {
  width: 30%;
  color: #003F5E;
  font-weight: 500;
}
#site_main .comic_detail .more_details > .container > .col > div span {
  color: #00a9d9;
}
#site_main .comic_detail .more_details > .container > .col > div .artist,
#site_main .comic_detail .more_details > .container > .col > div .writer {
  width: 70%;
}
#site_main .comic_detail .more_details > .container > .col .artists,
#site_main .comic_detail .more_details > .container > .col .writers,
#site_main .comic_detail .more_details > .container > .col .series,
#site_main .comic_detail .more_details > .container > .col .us_price,
#site_main .comic_detail .more_details > .container > .col .on_sale {
  border-top: 1px solid #D8D8D8;
}
#site_main .comic_detail .more_details > .container > .col .writers,
#site_main .comic_detail .more_details > .container > .col .on_sale {
  border-bottom: 1px solid #D8D8D8;
}