/* Variables */
$brand_primary_color: #0282f9;
$brand_text_grey: #464646;
$brand_grey_color: #303030;
$brand_dark_color: #1c1c1c;
$brand_light_grey: #f6f6f6;
$brand_light_blue: #00a9d9;
$brand_blue: #003F5E;
$brand_light_green: #bafd9c;
$brand_green: #55ba59;
$brand_dark_green: #357739;
